@model Yoneticiler
@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Yönetici Sil</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="YonetimYoneticiler" asp-action="Sil" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <br />
                        <label>Kullanıcı Adı</label>
                        <input type="text" class="form-control" asp-for="KullaniciAdi" value="@Model.KullaniciAdi" readonly>
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="text" class="form-control" asp-for="Sifre" value="@Model.Sifre" readonly>
                    </div>
                    <center><button type="submit" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> Yönetici Sil</button></center><br />
                </form>
            </div>
        </div>
    </div>
</div>

