@model Terimler
@{
    ViewData["Title"] = "Incele";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Terim İncele</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="" asp-action="" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <br />
                        <label>Terim Adı</label>
                        <input type="text" class="form-control" asp-for="TerimAd" value="@Model.TerimAd" readonly>
                    </div>
                    <div class="form-group">
                        <label>Terim Açıklaması</label>
                        <textarea class="form-control" asp-for="TerimAciklama" rows="5" readonly>@Model.TerimAciklama</textarea>
                    </div>
                    <div class="form-group">
                        <label>Terim Bölümü</label>
                        <select class="form-control" asp-for="TerimBolum" readonly>
                            <option>Bilgisayar</option>
                            <option>Elektrik</option>
                            <option>Endüstri</option>
                            <option>Makine</option>
                            <option>Kimya</option>
                        </select>
                    </div>
                </form>
                <center><a href="/YonetimTerimler/Index/" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Geriye Dön</a></center><br />
            </div>
        </div>
    </div>
</div>

