
@{
    ViewData["Title"] = "Amac";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<h2 class="text-center">Amacımız Nedir</h2>

<div class="row">
    <br />
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Amacımız</h6>
        </div>
        <div class="card-body">
            KurYay Olarak Amacımız Herkes Tarafından Kolayca Kullanılabilen Modern,Hızlı,Ücretsiz İnternet Siteleri Sunabilmektir.
        </div>
    </div>
</div>

