
@{
    ViewData["Title"] = "Kodlar";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<h2 class="text-center">Kaynak Kodlar</h2>

<div class="row">
    <br />
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Github Hesabımız</h6>
        </div>
        <div class="card-body">
            Bütün Projelerimiz Ve Bütün Kodlarımız Github Hesabımızda Bulunmaktadır.Üzerlerinde Geliştirmeler Yapabilir Veya Onları Olduğu Gibi Kullanabilirsin.<br />
            https://github.com/kuryay
        </div>
    </div>
</div>

