
@{
    ViewData["Title"] = "Nedir";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<h2 class="text-center">KurYay Nedir</h2>

<div class="row">
    <br />
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">KurYay</h6>
        </div>
        <div class="card-body">
            KurYay Açık Kaynak Kodlu, Hızlı Kurulabilen, Ücretsiz İnternet Siteleri Geliştiren Bir Topluluktur. Projelerin Açık Kaynak Kodlu Hallerine Aşağıdaki Linkler Aracılığı İle Ulaşabilirsiniz.<br />
            https://github.com/kuryay
        </div>
    </div>
</div>

