
@{
    ViewData["Title"] = "Topluluk";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<h2 class="text-center">Topluluk</h2>

<div class="row">
    <br />
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Topluluk</h6>
        </div>
        <div class="card-body">
            KurYay Olarak Bireysel Veya Belirli Bir Şirket İçin Çalışmıyoruz.Bütün Çalışmalarımız Gönüllü Topluluğumuz Tarafından Üretilir Ve Hayata Geçirilir.Sende Bu Güzel Topluluğa Hemen Katılabilirsin.
        </div>
    </div>
</div>

