
@{
    ViewData["Title"] = "Hata";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Böyle Bir Şey Bulamıyorum...</p>
        <p class="text-gray-500 mb-0">Bu Sayfa Olabilirde Olmayabilirde...</p>
        <a href="/Yonetim/Index/">← Anasayfaya Geri Dön</a>
    </div>

</div>
