@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Anasayfa</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Raporları İndir</a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Terimler</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TerimSayisi</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Öneriler</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.OneriSayisi</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Mesajlar</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.MesajSayisi</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Duyurular</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DuyuruSayisi</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <br />
    <div class="card shadow  text-center">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mühendislik Terimleri Uygulaması</h6>
        </div>
        <div class="card-bod">
            Mühendislik Terimleri Uygulaması Üniversitelerin İlgili Bölümlerinde Eğitime Devam Eden Öğrenciler İçin Geliştirilmiş Bir Uygulamadır.
            Uygulamanın Yönetim İşlemleri Bu Sayfa Aracılığıyla Gerçekleşmektedir.<br />
            Ayrıca Bu İnternet Sitesi Aracılığıyla Mobil Uygulamanın İhtiyacı Olan Apiler Yayınlanmaktadır.<br />
            Bütün Sorular,Sorunlar Ve Detaylar İçin İletişim Adresi : kurnaz.berke1907@gmail.com<br />
            Uygulama Açık Kaynak Kodlu Olup Üzerinde İyileştirme Ve Geliştirme Yapılabilmektedir.<br />
            https://github.com/berkekurnaz
        </div>
    </div>
</div>

<div class="row">
    <br />
    <div class="card shadow text-center">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">KurYay</h6>
        </div>
        <div class="card-body">
            KurYay Açık Kaynak Kodlu, Hızlı Kurulabilen, Ücretsiz İnternet Siteleri Geliştiren Bir Topluluktur. Projelerin Açık Kaynak Kodlu Hallerine Aşağıdaki Linkler Aracılığı İle Ulaşabilirsiniz.<br />
            https://github.com/kuryay
        </div>
    </div>
</div>